.communication_div{
    margin: auto;
    padding: 10px;

    margin-top: 20px;
    width: 700px;
}

.communication_header{
    font-size: 26px;
    margin-bottom: 0;
}

.single_comment{
    max-width: 400px;
}

.single_comment:hover{
    background-color: rgb(243, 242, 242);
}

.comment_user{
    font-size: 14px;
    color: gray;
}
