.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
 }

 .jumbotronstyle {
     min-height: 450px;
     background-color:transparent !important; 
 }

 .colored_info {
    background-color:#F5F5F5;
 }

 .colored_search_bar {
  background-color:#F5F5F5;
}

 .infopar {
    margin-top: 1%;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .text {
    position: absolute;
    color: red;
  }

  .centered_text{
    text-align: center
  }

  .pos_text{
    text-align: right;
    margin-top:21px;
    font-size: larger;
  }

  .pos_component{
    margin-top: 5%;
  }

  .searchform {
    padding-top: 15%;
    padding-bottom: 15%;
    }
  
  .lemmatext {
    padding-top: 5%;
    padding-bottom: 5%;
    }
  
  .related_words{
    font-size: medium;
  }

  .btn_search:hover
  {
  background-image:none;
  background-color:#00087E;
  }